.user-info-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    
    position: relative;
    left: 50%;
    translate: -50% 0;

    padding: 50px;
    height: fit-content;
    width: fit-content;
    border-radius: 25px;

    backdrop-filter: blur(25px);
    background-color: rgba(255,255,255,0.8);
}

.profile-icon {
    height: 2em;
    width: 2em;
    border-radius: 1em;
    background-color: white;
    color: gray;
    font-size: 5em;
    box-shadow: 0px 0px 35px 0px rgba(0, 0, 0, 0.1);
}

.vertical-select-container {
    padding-top: 2em;
    display: flex;
    flex-direction: row;
    gap: 0.5em;
    justify-content: center;
}

.collections-grid {
    z-index: 1;
    padding-top: 2em;
    padding-bottom: 100px;
    height: fit-content;
    width: 75%;
    display: grid;
    gap: 2em;
    grid-template-columns: repeat(auto-fill, 300px);
    justify-content: center;
}

.collection-container {
    display: flex;
    background-color: white;
    flex-direction: column;
    transition-property: scale, height, border-radius;
    transition-duration: 200ms;
    box-shadow: 0px 0px 35px 0px rgba(0, 0, 0, 0.1);
    z-index: 2;
    border-radius: 10px;
    padding: 15px;
    box-sizing: border-box;
}

    .collection-container:hover {
        cursor: pointer;
        scale: 1.05;
        border-radius: 5px;
    }

.profile-banner {
    z-index: 0;
    position: absolute;
    background: transparent;
    height: 0px; /* will be set via js */
    width: 100vw;
    top: 0px;
    left: 0px;
    background-color: dimgray;
/*    background-image: url("/image3.png") !important;*/
    background-position: top;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.collection-view {
    gap: 10px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 80px;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 10px;
}

    .collection-view > div:first-child {
        grid-column-end: span 2;
        grid-row-end: span 2;
        background-image: url("/image3.png") !important;
    }

    .collection-view > div {
        padding: 0px;
        border-radius: 10px;
        background-position: center;
        background-size: cover;
        background-image: url("/image.png");
    }